.satu{
	font-style: italic;
	background-color: #66ffff;
	color:#ff99ff;
	font-family: monospace;
	text-align: center;
font-size: 50px
}
.p1{
	color: #ffff99;
	background-color: black ;
	font-family: monospace;
	font-size: 30px
}
body{
	background-color: #ff99ff
}
.dua{
	color: #666699;
	border-style:dotted;color:white;
	font-family: monospace;
font-size: 40px
}
